body {
	margin:0px;
	background-image:url("img/bk.jpg");
	opacity:0.8;
}

p {
	padding:0px;
	margin:0px;
}
/* about main framework */
#main-framework {
	width:1200px;
	min-height:1000px;
	margin:0 auto;
	background-color:white;
	border:solid 1px rgb(100,100,100);
}

#main-framework-header {
	height:200px;
	border-bottom:solid 1px rgb(100,100,100);
	background-image:url("img/header.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#main-framework-body {
	width:100%;
}

#main-framework-body-left {
	width:20%;
	min-height:800px;
	float:left;
}

#main-framework-body-right {
	width:calc(80% - 1px);
	min-height:800px;
	float:left;
	border-left:solid 1px rgb(100,100,100);
}

/* about user information */
#user-info {
	margin-top:20px;
	margin-right:20px;
	float:right;
}

#user-portrait {
	width:130px;
	height:130px;
}

#user-portrait img {
	width:100%;
	height:100%;
}

#user-id {
	text-align:center;
	color:white;
}

/* about list */
#navigation-list {
	list-style-type:none;
}

#navigation-list li {
	margin: 20px 0px;
}

/* about blocks*/
.block {
	border-bottom:solid 1px rgb(100,100,100);
}

.block-content {
	padding:10px;
	min-height:150px;
}

.block-bottom {
	padding:10px;
	text-align:right;
}

.block-main {
	min-height:800px;
	font-family: Arial;
	font-size: 2em;
	text-align: center;
}

.friends {
	font-family: Arial;
	font-size: large;
	text-align: left;
 }
