body {
	margin:0px;
	background-image:url("img/bk.jpg");
	background-repeat:no-repeat;
	background-color: rgb(205, 212, 209);
}

p {
	padding:0px;
	margin:0px;
}

a{
	font-weight:normal;
	border: none;
	color:rgb(51,136,255);
	text-decoration:none;
}
a:hover{
	cursor:pointer;
	color:rgb(132,184,255);
}

/* about window */

.window_header{
	position:fixed;
	left:50%;
	top:50%;
	box-shadow:0px 0px 10px rgb(150,150,150);
	padding:50px 0px;
	border-radius:5px;
	background-color:white;
}


.window_input{
	font-size:13px;
	width:355px;
	height:15px;
	padding:10px 0px 10px 10px;
	margin:10px 0px;
	background-color:white;
	border-radius:3px;
	z-index:3001;
	border:solid 1px rgb(127,127,127);
	box-shadow:0px 0px 3px rgb(200,200,200) inset;
	outline:none;
}

.window_below_input{
	height:15px;
	font-size:13px;
}

.window_below_input_left{
	float:left;
}

.window_below_input_right{
	float:right;
	position:relative;
	left:5px;
}

.window_button{
	margin-top:20px;
}

.window_submit_button{
	border-radius:3px;
	text-align:center;
	width:45%;
	padding:10px 0px;
	background-color:rgb(0,162,232);
	color:white;
	float:left;
}

.window_submit_button:hover{
	cursor:pointer;
	background-color:rgb(77,202,255);
}

.window_close_button{
	border-radius:3px;
	text-align:center;
	width:45%;
	padding:10px 0px;
	background-color:white;
	border:solid 1px rgb(200,200,200);
	float:right;
	position:relative;
	left:5px;
}

.window_close_button:hover{
	cursor:pointer;
	background-color:rgb(200,200,200);
}

/* css of register */
#register{
	width:850px;
	height:280px;
	margin-left:-425px;
	margin-top:-200px;
	z-index:2001;
}

#register_content_left{
	margin:0px 50px;
	width:360px;
	height:280px;
	float:left;
	position:relative;
}

#register_content_right{
	margin-right:50px;
	width:340px;
	height:280px;
	float:right;
	position:relative;
}

#register_declaration_wrapper{
	margin-top: 11px;
	height: 262px;
	outline: solid 1px rgb(127,127,127);
}
#register_declaration{
	font-size:13px;
	height:242px;
	line-height:150%;
	background-color:white;
	padding:10px;
	overflow-y:auto;
}

#register_declaration h1{
	font-size:13px;
}

#register_declaration ul{
	margin:5px 0px 5px 30px;
}