@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700|Special+Elite|Zilla+Slab+Highlight:400,700');

html {
    height: 100%;
}

body {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,1)), url("https://source.unsplash.com/rdVLN3UFmpU/1600x900") center;
    background-size: cover;
}

.content {
    text-align: center;
    color: ghostwhite;
    font-family: 'special elite', cursive;
    font-weight: lighter;
    font-size: 3em;
}

.content a:link {
    color: ghostwhite;
}

.content a:hover {
    color: black;
}

.content a:visited {
    color: lightgray;
}

h1 {
    font-family: 'Aref Ruqaa', cursive;
    font-weight: 400;
    font-size: 4em;
}

h2 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: lighter;
    font-size: 3em;
}

h3 {
    font-family: 'special elite', cursive;
    font-weight: bolder;
    font-size: 1em;
}