<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The-Dragon-Boat</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>The-Dragon-Boat</h1>
<h3>COMING SOON</h3>
<h2>Team Members</h2>
<div class="content">
        <p>Zhuolun Lang</p>
        <p>Yingzi Song</p>
        <p>Rencai Hu</p>
</div>

<div class="motto">
    <p>It all fades away in the end...</p>
</div>

</body>
</html>