<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/familyTree.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
</head>

<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage">
                <div id="user-portrait">
                    <img src="/img/47.jpg">
                </div>
                <div id="user-id">
                    Admin
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage">Home</a></li>
                <li><a href="friends">Friends</a></li>
                <li><a href="shares">Shares</a></li>
                <li><a href="familyTree">Family Tree</a></li>
                <li><a href="wishes">Wish Lists</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="remember">Remember</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">
            <div class="header">
                <h2>Family Tree</h2>
            </div>

            <div class="tree">
                <form id="add-family">
                    <ul class="tree-uList">
                        <li class="tree-list">
                            <a href="#">
                                <div class="container">
                                    <img src="https://www.infrascan.net/demo/assets/img/avatar5.png"
                                         class="img-circle">
                                    <div class="middle">
                                        <button type="submit" class="addBtn" name="add-relationship">add</button>
                                    </div>
                                </div>
                                <p>Jon Rickard</p>
                            </a>
                            <ul class="tree-uList">
                                <li class="tree-list">
                                    <a href="#">
                                        <div class="container">
                                            <img src="https://www.infrascan.net/demo/assets/img/avatar5.png"
                                                 class="img-circle">
                                            <div class="middle">
                                                <button type="submit" class="addBtn" name="add-relationship">add</button>
                                            </div>
                                        </div>
                                        <p>Jon Benjen</p>
                                    </a>
                                </li>
                                <li class="tree-list">
                                    <a href="#">
                                        <div class="container">
                                            <img src="https://www.infrascan.net/demo/assets/img/avatar5.png"
                                                 class="img-circle">
                                            <div class="middle">
                                                <button type="submit" class="addBtn" name="add-relationship">add</button>
                                            </div>
                                        </div>
                                        <p>Jon Lyanna</p>
                                    </a>
                                </li>
                                <li class="tree-list">
                                    <a href="#">
                                        <div class="container">
                                            <img src="https://www.infrascan.net/demo/assets/img/avatar5.png"
                                                 class="img-circle">
                                            <div class="middle">
                                                <button type="submit" class="addBtn" name="add-relationship">add</button>
                                            </div>
                                        </div>
                                        <p>Jon Eddard</p>
                                    </a>
                                    <ul class="tree-uList">
                                        <li class="tree-list">
                                            <a href="#">
                                                <div class="container">
                                                    <img src="https://www.infrascan.net/demo/assets/img/avatar5.png"
                                                         class="img-circle">
                                                    <div class="middle">
                                                        <button type="submit" class="addBtn" name="add-relationship">add</button>
                                                    </div>
                                                </div>
                                                <p>Jon Arya</p>
                                            </a>
                                        </li>
                                        <li class="tree-list">
                                            <a href="#">
                                                <div class="container">
                                                    <img src="https://www.infrascan.net/demo/assets/img/avatar5.png"
                                                         class="img-circle">
                                                    <div class="middle">
                                                        <button type="submit" class="addBtn" name="add-relationship">add</button>
                                                    </div>
                                                </div>
                                                <p>Jon Snow</p>
                                            </a>
                                        </li>
                                        <li class="tree-list">
                                            <a href="#">
                                                <div class="container">
                                                    <img src="https://www.infrascan.net/demo/assets/img/avatar5.png"
                                                         class="img-circle">
                                                    <div class="middle">
                                                        <button type="submit" class="addBtn" name="add-relationship">add</button>
                                                    </div>
                                                </div>
                                                <p>Jon Brandon</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>