<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/friends.css" rel="stylesheet" type="text/css">
</head>

<body>
<script>
    function friends()
    {
    }
</script>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage">
                <div id="user-portrait">
                    <img src="/img/47.jpg">
                </div>
                <div id="user-id">
                    Ryner
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage">Home</a></li>
                <li><a href="friends">Friends</a></li>
                <li><a href="homepage">Groups</a></li>
                <li><a href="homepage">Favorites</a></li>
                <li><a href="homepage">Family Tree</a></li>
                <li><a href="homepage">Wish Lists</a></li>
                <li><a href="settings">Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->
            <div class="block">
                <div class="block-main">
                    <div class="friends">
                        <div class="container">
                            <div class="top">
                                <h2>Friend's List</h2>
                            </div>
                            <div class="row">
                                <div class="shadow">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="60px">
                                        </div>
                                        <div class="col-sm-8">
                                            <h4><a href="#">Amy</a></h4>
                                            <p><a href="#">4 mutual friends</a></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="60px">
                                        </div>
                                        <div class="col-sm-8">
                                            <h4><a href="#">Ben</a></h4>
                                            <p><a href="#">4 mutual friends</a></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="60px">
                                        </div>
                                        <div class="col-sm-8">
                                            <h4><a href="#">Louis</a></h4>
                                            <p><a href="#">4 mutual friends</a></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            <img src="/img/cat.jpg" class="img-circle" width="60px">
                                        </div>
                                        <div class="col-sm-8">
                                            <h4><a href="zoranHomepage">Zoran</a></h4>
                                            <p><a href="#">4 mutual friends</a></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-bottom">
                    &nbsp;&nbsp;20:00&nbsp;&nbsp;Jun 2,2018
                </div>
            </div>

        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>