<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <div id="user-portrait">
                <img src="img/47.jpg" />
            </div>
            <div id="user-id">
                Admin
            </div>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li>Friends</li>
                <li>Groups</li>
                <li>Favorites</li>
                <li>Family Tree</li>
                <li>Wish Lists</li>
                <li>Settings</li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->
            <div class="block">
                <div class="block-content">
                    <p>Profile</p>
                </div>
                <div class="block-bottom">
                    &nbsp;&nbsp;20:00&nbsp;&nbsp;Jun 2,2018
                </div>
            </div>

            <!-- block2 -->
            <div class="block">
                <div class="block-content">
                    <p>Experience</p>
                </div>
                <div class="block-bottom">
                    &nbsp;&nbsp;20:00&nbsp;&nbsp;Jun 2,2018
                </div>
            </div>

            <!-- block3 -->
            <div class="block">
                <div class="block-content">
                    <p>Album</p>
                </div>
                <div class="block-bottom">
                    &nbsp;&nbsp;20:00&nbsp;&nbsp;Jun 2,2018
                </div>
            </div>

        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>