body {
    background: url("https://source.unsplash.com/F3iTPkZ9t2U/5184x3456");
    background-size: cover;
}

h1 {
    text-align: center;
    color: ghostwhite;
    font-family: 'Aref Ruqaa', cursive;
    font-weight: lighter;
    font-size: 4em;
}

.enter {
    color: ghostwhite;
    background: Transparent no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.enter:hover {
    background-color: green;
}
