<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>This is my index page.</h1>
<form>
    <input type="button" value="Go to Google" onclick="window.location.href='comingSoon'"/>
</form>
</body>
</html>