<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lights in the Heaven</title>
    <link href="developLogin.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="login">
    <h1>Login</h1>
    <form action="/homepage">
        Username: <input type="text" name="username"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" value="Login" onclick="">
    </form>
</div>

<div class="register">
    <h1>Register</h1>
    <form action="/homepage">
        Username: <input type="text" name="username"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>