<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login&Register</title>
    <link href="/css/loginRegister.css" rel="stylesheet" type="text/css">
</head>
<body>
    This is my login&register page.
    <button class="login" type="button">Login</button>
</body>
</html>