<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
</head>

<body>
<script>
    function profile()
    {
    }
</script>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage">
                <div id="user-portrait">
                    <img src="/img/47.jpg">
                </div>
                <div id="user-id">
                    Ryner
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage">Home</a></li>
                <li><a href="friends">Friends</a></li>
                <li><a href="shares">Shares</a></li>
                <li><a href="familyTree">Family Tree</a></li>
                <li><a href="wishes">Wish Lists</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="remember">Remember</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->
            <div class="block">
                <div class="block-main">
                    <p>Profile</p>
                    <form name="profile" action="homepage" onsubmit="profile()">
                        <br>&nbsp;&nbsp;Name： <input type="text" name="name"><br>
                        <br>&nbsp;&nbsp;Gender：<input type="radio" name="gender" value="female"> Female<input type="radio" name="gender" value="male"> Male<br>
                        <br>&nbsp;&nbsp;Birthday: <input type="date" name="bday"><br>
                        <br>&nbsp;&nbsp;E-mail: <input type="email" name="email"><br>
                        <br>&nbsp;&nbsp;<input type="submit">
                    </form>
                </div>
                <div class="block-bottom">
                    &nbsp;&nbsp;20:00&nbsp;&nbsp;Jun 2,2018
                </div>
            </div>

        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>