<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/remember.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage">
                <div id="user-portrait">
                    <img src="/img/47.jpg" />
                </div>
                <div id="user-id">
                    Ryner
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage">Home</a></li>
                <li><a href="friends">Friends</a></li>
                <li><a href="shares">Shares</a></li>
                <li><a href="familyTree">Family Tree</a></li>
                <li><a href="wishes">Wish Lists</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="remember">Remember</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">
            <!-- block1 -->
            <div class="block">
                <div class="block-content">
                    <img src="/img/RIP.jpg" />
                </div>
                <div class="block-bottom">
                    ❀：0&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>

            <!-- block2 -->
            <div class="block">
                <div class="block-content">
                    <p>Epitaph</p>
                    <p><br>...........</p>
                </div>
                <div class="block-bottom">
                    &nbsp;&nbsp;20:00&nbsp;&nbsp;Jun 2,2018
                </div>
            </div>

            <!-- block3 -->
            <div class="block">
                <div class="block-main">
                    <p>&nbsp;&nbsp;Friends' Comments</p>
                    <ul id="wish-list">
                        <li><a href="homepage"><img class="wishimage" src="/img/47.jpg" />Ryner:</a>&nbsp;&nbsp;..........</li>
                        <li><a href="homepage"><img class="wishimage" src="/img/47.jpg" />Ryner:</a>&nbsp;&nbsp;..........</li>
                    </ul>
                </div>
            </div>


        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>