<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/settingsAccount.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage">
                <div id="user-portrait">
                    <img src="/img/47.jpg" />
                </div>
                <div id="user-id">
                    Ryner
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage">Home</a></li>
                <li><a href="friends">Friends</a></li>
                <li><a href="shares">Shares</a></li>
                <li><a href="familyTree">Family Tree</a></li>
                <li><a href="homepage">Wish Lists</a></li>
                <li><a href="settings">Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">
            <div id="left-block">
                <ul id="navigation-list-settings">
                    <li><a href="settings">Profile</a></li>
                    <li><a href="settingsAccount">Account</a></li>
                    <li><a href="settingsPrivacy">Privacy</a></li>
                    <li><a href="settingsBlockedUsers">Blocked users</a></li>
                </ul>
            </div>
            <div id="right-block">
                <h2 id="page-title">Change Password</h2>
                <hr>
                <div id="form-group">
                    <form>
                        Old password<br>
                        <input class="form-control" type="password" name="oldpassword"><br><br>
                        New password<br>
                        <input class="form-control" type="password" name="newpassword"><br><br>
                        Confirm new password<br>
                        <input class="form-control" type="password" name="confirm_new_password"><br><br>
                        <button type="submit">Update password</button>
                        <span><a href="/password_reset">I forgot my passowrd</a></span>
                    </form>
                    <hr>
                </div>
            </div>
        </div>


        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>