<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link href="/css/settingsAccount.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <div id="user-portrait">
                <img src="/img/47.jpg">
            </div>
            <div id="user-id">
                Ryner
            </div>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage">Home</a></li>
                <li><a href="friends">Friends</a></li>
                <li><a href="homepage">Favorites</a></li>
                <li><a href="familyTree">Family Tree</a></li>
                <li><a href="homepage">Wish Lists</a></li>
                <li><a href="settings">Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->
            <div class="block">
                <ul id="navigation-list-settings">
                    <li><a href="settings">Profile</a></li>
                    <li><a href="settingsAccount">Account</a></li>
                    <li><a href="settingsPrivacy">Privacy</a></li>
                    <li><a href="settingsBlockedUsers">Blocked users</a></li>
                </ul>
            </div>

            <div id="change-password">
                <h2 id="page-title">Change Password</h2>
                <hr>
            </div>

            <div id="form-group">
                <form>
                    Old password<br>
                    <input class="form-control" type="password" name="oldpassword"><br><br>
                    New password<br>
                    <input class="form-control" type="password" name="newpassword"><br><br>
                    Confirm new password<br>
                    <input class="form-control" type="password" name="confirm_new_password"><br><br>
                    <button type="submit">Update password</button>
                    <span><a href="/password_reset">I forgot my passowrd</a></span>
                </form>
                <hr>
            </div>

        </div>


        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>