<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link href="/css/settingsBlockedUsers.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage">
            <div id="user-portrait">
                <img src="/img/47.jpg">
            </div>
            <div id="user-id">
                Ryner
            </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage">Home</a></li>
                <li><a href="friends">Friends</a></li>
                <li><a href="homepage">Favorites</a></li>
                <li><a href="familyTree">Family Tree</a></li>
                <li><a href="homepage">Wish Lists</a></li>
                <li><a href="settings">Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->
            <div class="block">
                <ul id="navigation-list-settings">
                    <li><a href="settings">Profile</a></li>
                    <li><a href="settingsAccount">Account</a></li>
                    <li><a href="settingsPrivacy">Privacy</a></li>
                    <li><a href="settingsBlockedUsers">Blocked users</a></li>
                </ul>
            </div>

            <div id="blocked-users">
                <div>
                    <h2 class="subhead">Block a user</h2>
                    <hr>
                    <div class="content">
                        <div id="blocking-info">
                            <p>Blocking a user prevents them from</p>
                            <ul class="info">
                                <li>a</li>
                                <li>b</li>
                                <li>c</li>
                                <li>d</li>
                                <li>e</li>
                                <li>f</li>
                            </ul>
                            <br>
                        </div>

                        <form id="block-a-user">
                            Search by full name or email address<br>
                            <input type="text" placeholder="Search..">
                            <button id="block-btn" type="submit">Block user</button>
                        </form>
                    </div>
                </div>

                <div id="bu-2">
                    <h2 class="subhead">Blocked users</h2>
                    <hr>
                    <div class="box">
                        <ul class="js-blocked-list">
                            <div class="empty">
                                You have not blocked any users yet.
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>