body {
    margin-top: 30px;
    margin:0px;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3)), url("https://source.unsplash.com/YeUVDKZWSZ4/4671x3114");
    background-size: cover;
    opacity:0.8;
}

.top {
    text-align: center;
}

.shadow {
    box-shadow: 0px 0px 5px 0px;
    padding-top: 10px;
}

p {
    padding:0px;
    margin:0px;
}
/* about main framework */
#main-framework {
    width:1200px;
    min-height:1000px;
    margin:0 auto;
    background-color:white;
    border:solid 1px rgb(100,100,100);
}

#main-framework-header {
    height:200px;
    border-bottom:solid 1px rgb(100,100,100);
    background-image:url("/img/header.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
}

#main-framework-body-content {
    width: 100%;
    min-height:800px;
    float:left;
    border-left:solid 1px rgb(100,100,100);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* about user information */
#user-info {
    margin-top:20px;
    margin-right:20px;
    float:right;
}

#user-portrait {
    width:130px;
    height:130px;
}

#user-portrait img {
    width:100%;
    height:100%;
}

#user-id {
    text-align:center;
    color:white;
}

/* about list */
#navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#navigation-list li {
    width: 14.2857143%;
    float: left;
}
#navigation-list li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#navigation-list li a:hover{
    background-color: #111111;
}

/* about blocks*/
.block {
    border-bottom:solid 1px rgb(100,100,100);
}

.block-content {
    padding:10px;
    min-height:150px;
}

.block-bottom {
    padding:10px;
    text-align:right;
}

.block-main {
    min-height:800px;
    font-family: Arial;
    font-size: 2em;
    text-align: center;
}

.friends {
    font-family: Arial;
    font-size: large;
    text-align: left;
}
